<div ng-app="hcloud" ng-controller="hcloud" class="container-fluid">
	<div>
		<div class="page-header">
			<h1>
				<span>HTML+</span>
				<small>the cache page test</small>
			</h1>
		</div>

		<div class="text-center">
			<button class="btn btn-default" ng-click="doTestAll()">run all</button>
			<span>filesystems: </span><span class="text-success">{{info.fs.single}}</span>
		</div>
		
		<div class="row">
			<div class="col-md-5">Test</div>
			<div class="col-md-1">ID</div>
			<div class="col-md-1">Mem</div>
			<div class="col-md-1">Time</div>
			<div class="col-md-1">Delay</div>
			<div class="col-md-1">Stato</div>
			<div class="col-md-2"></div>
		</div>

		<div class="panel panel-default" data-set_id="{{set_id}}" ng-repeat="(set_id, set) in tests">
			<div class="panel-heading ">
				<div class="row">
					<div class="col-md-5">
						<span>cluster: </span> <span class="text-success">{{set[0].cluster_mode}}</span>
	
						<span>mode: </span> <span class="text-success">{{set[0].run_mode}}</span>
	
						<span>id: </span> <span class="text-success">{{set[0].set_id}}</span>
					</div>
	
					<div class="col-md-1">{{set[0].obj_id}}</div>
					<div class="col-md-1">{{set[0].size_mb}}</div>
					<div class="col-md-1">{{set[0].time_sec}}</div>
					<div class="col-md-1">{{set[0].delay_min}}</div>
					<div class="col-md-1">
						<div data-state ng-click="doResult($event)"></div>
					</div>
					<div class="col-md-2">
						<a href="javascript:;" ng-click="doTestSet($event)">run test</a>
					</div>
					<div class="col-md-12"></div>
				</div>
			</div>
			
			<div class="panel-body">
				<div class="row">
					<div class="col-md-2" data-obj_id="{{test.obj_id}}" ng-repeat="test in set">
						<div>
							<span ng-switch on="!results[set_id+test.obj_id].show">
								<span class="glyphicon glyphicon-eye-open" ng-switch-when="true" ng-click="doResult($event); results[set_id+test.obj_id].show = !results[set_id+test.obj_id].show;"></span>
								<span class="glyphicon glyphicon-eye-close" ng-switch-when="false" ng-click="doResult($event); results[set_id+test.obj_id].show = !results[set_id+test.obj_id].show;"></span>
							</span>
							
							<span ng-switch on="results[set_id+test.obj_id].status" ng-click="doTest($event)">
								<span class="label label-default" ng-switch-default>NONE</span>
								<span class="label label-info" ng-switch-when="SLEEPING">{{results[set_id+test.obj_id].status}}</span>
								<span class="label label-warning" ng-switch-when="WAITING">{{results[set_id+test.obj_id].status}}</span>
								<span class="label label-success" ng-switch-when="SUCCESS">{{results[set_id+test.obj_id].status}}</span>
								<span class="label label-danger" ng-switch-when="FAIL">{{results[set_id+test.obj_id].status}}</span>
							</span>
							
							<em ng-click="doTest($event)">{{results[set_id+test.obj_id].result.host.host_name}}</em>
							
						</div>
						<div data-result style="display: none;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>