<div class="slide-menu" ng-app="hcloud" ng-controller="menu">
    <ul class="menu-items">
        <li class="menu-item" data-target="#Panel1" title="Tipologia di test">
	        <div class="menu-icon">
            	<i class="fa fa-book"></i>
            </div>
        	<div class="menu-content">                
                <span>Tipologia di test</span>
            </div>            
            <div class="menu-close">
            	<i class="fa fa-times"></i>
            </div>
        </li>
        <li id="CalendarIcon" class="menu-item" data-target="#Panel2" title="Opzioni">
        	<div class="menu-icon">
            	<i class="fa fa-calendar"></i>
            </div>
        	<div class="menu-content">                
                <span>Opzioni test</span>
            </div>
            <div class="menu-close">
            	<i class="fa fa-times"></i>
            </div>
        </li>
    </ul>
    <div class="menu-panels">
        <div id="Panel1" class="menu-panel">
        	<dl class="dl-horizontal">
	        	<dt>Single host</dt>
	        	<dd>
					<input type="radio" name="cluster_mode" checked ng-value="single_host" ng-model="options.cluster_mode">
				</dd>
			
				<dt>Bigmemory</dt>
				<dd>
					<input type="radio" name="cluster_mode" ng-value="cluster_bigmemory" ng-model="options.cluster_mode">
				</dd>
			
				<dt>Hazelcast</dt>
				<dd>
					<input type="radio" name="cluster_mode" ng-value="cluster_hazelcast" ng-model="options.cluster_mode">
				</dd>
			
				<dt>Infinispan</dt>
				<dd>
					<input type="radio" name="cluster_mode" ng-value="cluster_infinispan" ng-model="options.cluster_mode">
				</dd>
        	</dl>
		</div>
		
        <div id="Panel2" class="menu-panel">
        	<dl>
				<dt>N° di oggetti</dt>
	            <dd>
					<input id="objects_number" type="number" size="3" value="2" ng-model="options.objects_number">
				</dd>
	
				<dt>ID iniziale</dt>
				<dd>
					<input id="starting_object" type="number" size="3" value="1" ng-model="options.starting_object">
				</dd>
	
				<dt>Memoria (MB)</dt>
				<dd>
					<input id="size_mb" type="number" size="3" ng-value="-1" ng-model="options.size_mb">
				</dd>
	
				<dt>Tempo (sec)</dt>
				<dd>
					<input id="time_sec" type="number" size="3" value="-1" ng-model="options.time_sec">
				</dd>
	
				<dt>Ritardo minimo (sec)</dt>
				<dd>
					<input id="delay_min" type="number" size="3" value="0" ng-model="options.delay_min">
				</dd>

				<dt>Computazione</dt>
				<dd>
					<select id="run_mode" ng-model="options.run_mode">
						<option value="sleep">cpu sleep</option>
						<option value="sqrt">cpu sqrt</option>
					</select>
				</dd>
			</dl>
			
			<hr>
			
			<button class="btn btn-link" ng-click="newTest()">ADD TEST SET</button> 
			
        </div>
        <div id="Panel3" class="menu-panel">
            
        </div>
        <div id="Panel4" class="menu-panel">
           
        </div>
        <div id="Panel5" class="menu-panel">
            
        </div>
    </div>
</div>


<script type="text/javascript">
	$('.slide-menu').slidemenu();
</script>
        